
/* Colores */
.color-1{
    color: #54d3ac;
}
.color-2{
    color: #9ae8d4;
}
.color-3{
    color: #5cc4ac;
}
.color-4{
    color: #64caac;
}
.color-5{
    color: #265444;
}
.color-6{
    color: #40e4b0;
}

/* Backgrunds */
.bg-color-1{    
    background-color: #54d3ac;
}
.bg-color-2{    
    background-color: #9ae8d4;
}
.bg-color-3{    
    background-color: #5cc4ac;
}
.bg-color-4{    
    background-color: #64caac;
}
.bg-color-5{    
    background-color: #265444;
}
.bg-color-6{    
    background-color: #40e4b0;
}

/* Degradados */
.degrade-1{

}